body {
    font-family: "Source Sans Pro", "Helvetica", Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    overflow: hidden;
  }
  ::selection {
    color: cyan;
  }
  section {
    display: block;
  }
  header {
    display: block;
  }
  .mast-head {
    padding: 1em 2em;
    background-color: #0d1b2e;
    color: white;
    height: 5rem;
  }
  .heading-Animation {
    line-height: 3rem;
  }
  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
  }
  .intro {
    padding: 2em 2em;
    background-color: #429890;
    color: white;
  }
  .intro p{
      text-align: center;
  }
  
  
  .test-area {
    margin-bottom: 4em;
    padding: 0 2em;
  }
  #original-text {
    margin: 1em 0;
    padding: 1em 1em 0;
    background-color: #ededed;
    height: 3rem;
    width: 100%;
  }
  #original-text p {
     width:100%;
      text-align: center;
      font-weight: bold;
     margin:auto 0;
    }
  .test-wrapper {
    display: flex;
    border: 2px solid gray;
    border-radius: 10px;
  }
  textarea {
    height: 150px;
    width: 1800px;
  }
  .timer {
    font-size: 3em;
    font-weight: bold;
    animation: glow 0.7s infinite alternate-reverse linear;
    border-radius: 3px;
  }
  @keyframes glow {
    0% {
      box-shadow: 0 0 0.2rem 0.2rem cyan;
    }
    100% {
      box-shadow: 0 0 0.5rem 0.5rem cyan;
    }
  }
  .meta {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #clock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* #reset{
      padding: .5em 1em;
      font-size: 1.2em;
      font-weight: bold;
      color: #E95D0F;
      background: white;
      border: 10px solid #E95D0F;
      cursor: pointer;
  } */
  /* #reset:hover{
      color: red;
      background-color: palegreen;
      transition: 0.8s;
  
  } */
  #reset {
    padding: 0.5em 1em;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1rem;
    transition: 0.5s ease;
  }
  #reset:hover {
    cursor: pointer;
    box-shadow: 0 0 0.5rem 0.2rem #007bff;
  }
  #win-table {
    display: inline-block;
    /* margin: auto; */
    text-align: center;
    margin-top: 1.5rem;
    padding:0.2rem 1rem;
    padding-top: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    animation: glow 0.7s infinite alternate-reverse linear;
    border-radius: 3px;
    
  }
  @media (max-width: 532px) {
    html {
      font-size: 70%;
    }
  }
  @media (max-width: 370px) {
    html {
      font-size: 50%;
    }
  }
  
  @media (max-width: 270px) {
    html {
      font-size: 40%;
    }
  }
  @media (max-width: 210px) {
    html {
      font-size: 30%;
    }
  }
  